page-home {
    *{
        padding:0px;
        margin:0px;
    }
    ion-header .slide{
        height: auto;
    }
    ion-header .searchbar .searchbar-input{
        height:35px;
        line-height: 35px;
        font-size:14px;
        box-shadow: 0px;
        padding: 6px 42px;
        border: 0.5px solid #e5e5e5;
        border-radius: 2px;
        box-shadow:none;
    }
    ion-header .searchbar .searchbar-search-icon{
        top:8px;
    }
    ion-content .index-list{
        border-top: 0.5px solid #e5e5e5;     
        border-bottom: 0.5px solid #e5e5e5;     
    }
    ion-content ion-label{
       white-space:normal;
       word-wrap:break-word;
       word-break:break-all; 
    }
    ion-content .item ion-thumbnail img{
        width:120px;
        height:85px;
        margin-top:-10px;
    }
    ion-content .item-md [item-end]{
        margin:0px 8px 9px 0px;
    }

}
