page-register {

    .logo1{
        position: relative;
       
        width:20%;
        // height:80px;
        border-radius:20px;
        margin-left:40%;
        margin-top:10%;
    }
    .item1{
        float: right;
        width: 90%;
        font-size: 16px;
        color: #999099;
        height: 55px;
    }
    .item2{
        float: right;
        width: 90%;
        font-size: 16px;
        color: #999099;
        height: 55px;
    }
    .btn1{
        position: relative;
        top: 60px;
        width: 45px;
        height: 45px;
        vertical-align:bottom;
    }
    .btn2{
        position: relative;
        left: -55px;
        top:   110px;
        width: 45px;
        height: 45px;
        vertical-align:bottom;
    }
    .btn5{
        position: relative;
        top: 170px;
        left: -109px;
        width: 45px;
        height: 45px;
        vertical-align:bottom;
    }
    .btn4{
        width:70%;
        margin-left:15%;
        margin-top:40px;
        height:40px;
        border-radius:50px;
        font-size:18px;
        color:#fff;
        background-color:#488aff;
    }

}
