page-guanzhu {
.recommend{
    height:60px;
    line-height: 60px;
    border-bottom:1px solid #eeeeee;
    border-top:1px solid #eeeeee;
    margin-top:10px;
}
.list-title{
    float:left;
    // height:100%;
    margin-left:10px;
    font-size:15px;
    margin-top:0px;
}
.logo-box{
    width:30%;
    height:60px;
    float: left;
    margin-left:25%;
    // background-color:red;
    line-height:60px;
    img{
        float: left;
        width:45px;
        margin-top:7.5px;
        border-radius:22.5px;
    }
    .img1{
        margin-right:-15px;
    }
}
.go-icon{
    // margin-left:8%;
    font-size:30px;
    margin-top:15px;
    color:#8bc34a;
}
.img2{
    height:200px;

}
.recommend1{
    height:60px;
    line-height: 60px;
    border-bottom:2px dotted gray;
    border-top:2px solid #eeeeee;
    margin-top:10px;
    .close-icon{
        font-size:30px;
        float:right;
        margin-right:10%;
        margin-top:15px;
    }
}
.recommend-box{
    padding-bottom:10px;
    border-bottom:1px solid #eeeeee;
}

.focus-btn{
    float:right;
    margin-top:-35px;
    width:50px;
    height:25px;
    background-color:#8bc34a;
    color:#fff;
    border-radius:5px;
}
}
