page-recommend {
    ion-title{
        text-align: center;
    }
    /* .toolbar-title{
        
        display:inline-block;
        position: relative;
        top:-15px;
        left:40%;
        width:30%;
    } */
    .but1{
        position: relative;
        top:10px;
    }
    .tuijianimg{
        padding:10px 20px;
        height:200px;
        width:100%;
        border-radius:30px;
    }
    .button-clear-md {
        color:#6E6E6E;
    }
    .touxiang img{
        width:60px;
        height:60px;
    }
    ion-card-content{
        margin-left: 10px;
    }


}
