page-launch {
    .content{
        background-color:#f9f9f9;
    }
    ion-content .item-md.item-block .item-inner{
        border:0px;
    }
    ion-content .launch-list{
        margin-bottom: 10px;
        border-top: 1px solid #e5e5e5;
    }
    ion-content .launch-list .launch-item{
        border-bottom: 0.5px solid #e5e5e5;
    }
    ion-content .launch-list .launch-item .label-icon{
        padding-right: 10px;
    }
    ion-content .select .select-icon{
        display: none;
    }
    ion-content .input-textarea{
        height: 220px;
    }
    ion-content .add-img{
        width: 100px;
        height: 100px;
        text-align: center;
        border: 0.5px solid #e5e5e5;
        position: absolute;
        top:230px;
        left:16px;
    }
    ion-content .btn{
        width: 80%;
        margin: 50px auto;
    }
}

