page-login {
    
    .logo1{
        top: 62px;
      
        width:20%;
        border-radius:20px;
        margin-left:40%;
        margin-top:10%;
    }
    .item1{
        float: right;
        width: 90%;
        font-size: 16px;
        color: #999099;
        height: 55px;
    }
    .btn1{
        position: relative;
        top: 60px;
        width: 45px;
        height: 45px;
        left: 3px;
    }
    .btn2{
        position: relative;
        left: -50px;
        top: 110px;
        width: 45px;
        height: 45px;
    }
    .btn3{
        height: 40px;
        font-size: 16px;
        position: relative;
        left: 40px;
        top: 40px;
    }
    .btn4{
        height: 40px;
        font-size: 16px;
        position: relative;
        left: 40px;
        top: 40px;
    }
    .span1{
        font-size: 16px;
        position: relative;
        left: 180px;
        top: 40px;
    }
}
