page-contact {
    ion-title{
        text-align: center;
        font-size: 18px;
    }
    ion-navbar{
        height: 45px;
    }
  .list-md{
      margin-top: 10px;
  }
  .label-md .img1{
      border-radius: 150px;
      width: 50px;
      height: 50px;
  }
  .label-md .hang1{
      display: inline;
      position: relative;
      top: -30px;
      left: 5px;
      color: black;
      font-size: 16px;
  }
  .label-md .hang{
    display: inline;
    position: relative;
    top: -3%;
    color: black;
    font-size: 16px;
}
  .label-md .span1{
      font-size: 14px;
      position: relative;
      left: 60px;
      top: -35px;
      color: gray;
  }
  .label-md .p111{
      font-size: 12px;
      color: #FF8A00;
      border:2.5px solid #E5E5E5;
      background-color: #E5E5E5;
      width: 30%;
      border-radius: 30px;
      text-align: center;
      float: left;
      position: relative;
      top: 5%;
  }
  .label-md .span2{
      font-size: 12px;
      text-align: center;
      color: #009633;
      border:2.5px solid #A8EDAB;
      background-color: #A8EDAB;
      border-radius: 30px;
      width: 45%;
      float: right;
      position: relative;
      left: -70px;
  }
  .div1{
      margin-top: 30px;
      border-top: 0.15px solid #A396A3;
      height: 20px;
  }
  .loc{
    font-size:14px;
    margin-top:-0px;
  }
  .doc{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .label-md .hang{
    position: relative;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:normal;
    word-wrap:break-word;
    word-break:break-all;
   // white-space: nowrap;
  }
}
