page-search {
  // .searchbox 
  button{
    float: right;
    position: relative;
    margin-top: -12%;
    font-weight: lighter;
  }
  
  .doc{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .content{
    position: relative;
    overflow: hidden;
    font-weight: normal;
    font-size: 1.6rem;
    }
}
