<!--
  Generated template for the MyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
       
    <ion-title text-center>Elon&nbsp;&nbsp;Musk</ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
              <ion-icon name="settings"></ion-icon>
            </button>
          </ion-buttons>
    
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- 背景部分 -->
<ion-list>
   <img src="assets/imgs/bg.jpg" alt="" class="bg"> 
</ion-list>
<ion-list style="border-bottom:1px solid #eeeeee;margin-bottom:0px;">
 
  <ion-grid>
      <ion-row>
        <ion-col col-5 text-center>
            <img src="assets/imgs/touxiang3.jpg" alt="" class="touxiang">
            <p class="name">travel</p>
        </ion-col>
        <ion-col col-4 text-center>
         <ion-row>
           <ion-col text-center style="margin-top:-20px;">关注</ion-col>
           <ion-col text-center style="margin-top:-20px;">粉丝</ion-col>
         </ion-row>
         <ion-row *ngFor="let item of item;">
          <ion-col text-center>{{item.focus}}</ion-col>
          <ion-col text-center>{{item.fans}}</ion-col>
        </ion-row>
        
        </ion-col>
        <ion-col col-3 text-center style="margin-top:-12px;">
          <button ion-button outline class="focus-btn">关&nbsp;注</button>
        </ion-col>
      </ion-row>
      </ion-grid>
</ion-list>
<!-- 主体内容 -->
<ion-list>
          <ion-segment [(ngModel)]="show"> 
              <ion-segment-button value='information' class="seg-btn"> 
                 游记
              </ion-segment-button> 
              <ion-segment-button value="server" class="seg-btn"> 
                 相册
              </ion-segment-button> 
              <ion-segment-button value="star" class="seg-btn"> 
                 喜欢
               </ion-segment-button> 
          </ion-segment>
</ion-list>
<div [ngSwitch]="show">
     
     <ion-list  *ngSwitchCase="'information'">
       <ion-icon name="md-time" style="margin-left:72px;font-size:25px;"></ion-icon>
        <ion-item *ngFor="let items of items">
        <ion-grid>
          <ion-row>
            <ion-col col-2  text-center class="date-box">
              <p class="date">3月5日</p>
            </ion-col>
            <ion-col col-10>
              <ion-card class="content-box">
                  <ion-item>
                      <ion-avatar item-start>
                        <img src="assets/imgs/touxiang.jpg">
                      </ion-avatar>
                      <h2>Marty McFly</h2>
                      <p>November 5, 1955</p>
                    </ion-item>
                    
                  <ion-card-content>
                    <p class="text">Wait a minute. Wait a minute, Doc.Uhhh... Are you telling me that 
                      you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
                  </ion-card-content>
                
                  <ion-row>
                    <ion-col>
                      <button ion-button icon-left clear small>
                        <ion-icon name="thumbs-up"></ion-icon>
                        <div>12 Likes</div>
                      </button>
                    </ion-col>
                    <ion-col>
                      <button ion-button icon-left clear small>
                        <ion-icon name="ios-text"></ion-icon>
                        <div>4 Comments</div>
                      </button>
                    </ion-col>
                  </ion-row>
                
                </ion-card>
                 

                 
 

            </ion-col>
          </ion-row>
        </ion-grid>
       
        {{items}}
      </ion-item>
     </ion-list>
     <ion-list *ngSwitchCase="'server'">
          <ion-list>
            <ion-grid>
              <ion-row>
                <ion-col col-3 class="date-box">
                 <p > 3月10日</p>
                </ion-col>
                <ion-col col-9>
                  <ion-row>
                    <ion-col>
                    <img src="assets/imgs/touxiang.jpg" alt="">
                    </ion-col>
                    <ion-col>
                      <img src="assets/imgs/touxiang.jpg" alt="">
                    </ion-col>
                    <ion-col>
                      <img src="assets/imgs/touxiang.jpg" alt="">
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                    <img src="assets/imgs/touxiang.jpg" alt="">
                    </ion-col>
                    <ion-col>
                      <img src="assets/imgs/touxiang.jpg" alt="">
                    </ion-col>
                    <ion-col>
                      <img src="assets/imgs/touxiang.jpg" alt="">
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
     </ion-list>
</div>
</ion-content>
