    page-discovery {
      .dis-head {
        height: 30%;
        background: url("../assets/imgs/dis-bg.png") no-repeat;
        background-size: 100% 100%;
    }

    .dis-top {
        margin-bottom: 15px;
        height: 25%;
    }

    .dis-top div {
        background: transparent;
        border: none !important;
    }

    .dis-top input {
        margin-top: 4px;
    }

   /* .dis-top ion-header {
        margin-left: 0px;
        margin-right: 10px;
    }

    .dis-top ion-navbar {
        padding: 0;
    }
*/

    .dis-head-con {
        position: relative;
        left: 10%;
    }

    .dis-location {
        color: #fff;
        margin-bottom: 30px;
    }

    .dis-time {
        color: #fff;
    }

    .dis-location h1 {
        display: inline;
    }

    .dis-nav {
        height: 15%;
    }

    .dis-nav span {
        font-size: 23px;
        position: relative;
        top: 0%;
        text-align: center;
    }

    .dis-nav img {
        width: 51px;
        height: 51px;
        text-align: center;
    }
    .dis-nav div {
        display: inline-block;
        padding: 0;
        width: 32%;
        text-align: center;
        height: 50%;
        position: relative;
        top: 10%;
    }
    .dis-cards {
        border-top: 0.5px #bbb solid;
    }

    .dis-cards ion-card-title {
        font-size: 14px;
        font-weight: bold;
        text-indent: 5px;
    }
    }

